*{margin:0;padding:0}
body,html{width:100%;height:100%;display: flex;flex-direction: column;background-color: #f1f2f3}

a,a:hover,a:active,a:visited,a:link,a:focus{
    width:100%;height:100%;display: block;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}


#search{position: relative;width: 100%;height:50px;background-color: #ff7891;display: flex;flex-direction: row}
#course,#msg{position: relative;width:50px;height:100%;text-align: center;line-height: 35px;font-size: 18px;color:#ffffff}
#course img,#msg img{width:17px;height:17px;margin-top:10px}
#course span,#msg span{position: absolute;bottom:-5px;left:14px;font-size: 11px;color:#fff}
#theSearch{position: relative;margin:10px;flex: 1;height:30px;border-bottom:1px solid #ffb6b6;}
#theSearch a{width:100%;height:100%;display: block}
#theSearch img{width:17px;height:17px;margin:8px 0 0 5px}

#theMain{width: 100%;flex: 1;overflow-y: auto}

#imgPlay{position: relative;margin:10px auto 0 auto;width:95%;height:150px;overflow: hidden;
    box-shadow: 0 0 5px #ddd}

#entranceList{position: relative;margin:10px auto;padding-top:10px;width:95%;background-color: #fcfcfc;border-radius: 5px;
    box-shadow: 0 0 5px #ddd}
#entranceList ul{width:100%;height:70px;display: flex;flex-direction: row;justify-content:space-around}
#entranceList ul li{width:50px;height:70px;list-style: none;}
.entranceBut{margin:0 auto;width:40px;height:40px;border-radius: 50%;text-align: center;line-height: 50px;color:#fff;
    background-color: #ff7891;overflow: hidden;}
.entranceBut img{width:100%;height:100%;object-fit: cover}
#entranceList ul li span{width:100%;height:20px;font-size: 11px;text-align: center;line-height: 25px;display: block;color:#444}
#cover{position: absolute;top:-19px;left:0;width:100%;height:20px;z-index: 99;}
#cover img{width:100%;height:100%;object-fit: cover}


#moreInfo{position: relative;margin:0px auto;width:95%;height:50px;box-shadow: 0 0 5px #ddd;
    border-radius: 5px;
    display: flex;flex-direction: row;background-color: #fcfcfc}
#moreInfo a{width:80px}
#moreInfo span{background-color: #ff7891;border-radius: 5px;width:70px;margin:10px 10px;
    height:30px;display: block;text-align: center;font-size: 13px;
    line-height: 30px;color:#fff
}
#moreInfo .infoP{flex: 1;height:40px;margin-top:5px;padding-left:10px;color:#444;font-size: 13px;line-height: 20px}

#shopTip{margin:10px auto 0 auto;width:95%;height:30px;font-size: 13px;color:#ff4466;text-align: center;line-height: 30px;
         background-color:#fcfcfc;border-radius:5px;box-shadow:0 0 5px #ddd}
#shopList{width:100%;display: flex;flex-direction: row}
#shopList .list{flex: 1;margin:0 10px}
#shopList .list a{color:#444;width:100%;height:100%;display: block;overflow: hidden;}
#shopList .list a:visited{color:#444}
#shopList .list2{margin-left: 0}
#shopList .list .listTip{width:100%;height:50px;margin-top:2px;font-size: 15px;text-align: center;line-height: 50px;color:#fff;
        background-color: #ffc5c5;display: block}
#shopList .list li{width:100%;margin-top:10px;list-style: none;background-color: #fcfcfc;border-radius: 5px;overflow: hidden;box-shadow:0 0 5px #ddd}
#shopList .list .shopImg{margin:5% auto 1% auto;width:90%;overflow: hidden;}
#shopList .list .shopImg img{width:100%;height:100%;object-fit: cover;border-radius: 5px;}
#shopList .list .shopTitle{position: relative;padding:2px 5%;width:90%;height:32px;line-height: 16px;font-size: 11px;color:#444;
        display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
#shopList .list .shopTools{position: relative;margin-top:2px;width:100%;height:30px;border-top: 1px dotted #ddd}
#shopList .list .shopTools span{padding-left:5px;color:#ff4466;font-size: 13px;line-height: 30px}
#shopList .list .shopTools span yp{font-size: 13px}
#shopList .list .shopTools span sp{text-decoration: line-through;color:#aaa;font-size: 11px}
#shopList .list .shopTools .theTicket{position: absolute;top:2.5px;right:5px;width:35px;height:25px;text-align: center;
    line-height: 25px;background-color: #ff7891;color:#fff;font-size: 11px;border-radius: 5px;box-shadow: 0 0 5px #ddd}

#bottomTip{width:100%;height:60px;background-color: #f0f0f0;}
#bottomTip p{text-align: center;line-height: 60px;color:#777}

#msgTip{position: fixed;width:100%;height:100%;z-index: 999;display: none}
#msgTipBg{position: absolute;top:0;left:0;width:100%;height:100%;background-color: #444;opacity: 0.6;}
#theMsgTip{position: relative;top:50%;left:50%;transform: translate(-50%,-50%);width:200px;height:100px;
    background-color: #fff;border-radius: 5px;color:#444}
#theMsgTip p{line-height: 50px;text-align: center}
#theMsgTip .getTicket{margin:0px auto;width:50px;height:30px;font-size: 14px;color:#fff;background-color: #ff4466;text-align: center;
            line-height: 30px;border-radius: 4px}
#theMsgTip .getTicket a{width:100%;height:100%;display: block}
#close{position: absolute;right:-10px;top:-10px;width:25px;height:25px;background-color: #ff4466;
    border-radius: 50%;}
    #close img{width:19px;height:19px;margin:3px}

#transition{position: fixed;top:0;left:0;width:100%;height:100%;background-color: #ffffff}

  